<h3>選手登録ページ</h3>
<% @picture = Picture.new %>
<% @player = Player.new %>
<%= form_for @picture, :url => {:action => :upload} do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %><br>
  <%= f.label :file %>
  <%= f.file_field :file %><br>
  
<%= form_for @player, :data => {:action => :create} do |f| %>
  <%= f.label :number, "背番号" %>
  <%= f.text_field :number %><br>
  <%= f.label :tall, "身長" %>
  <%= f.text_field :tall %><br>
  <%= f.label :weight, "体重" %>
  <%= f.text_field :weight %><br>
  <%= f.label :position, "ポジション" %>
  <%= f.text_field :position %><br>
  <%= f.submit "Upload" %>
<% end %>
<% end %>
