<h3>選手登録ページ</h3>

<%= form_for @picture do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %><br>
  <%= f.label :file %>
  <%= f.file_field :file %><br>
  <%= f.fields_for @player do |i| %>
    <%= i.label :number, "背番号" %>
    <%= i.text_field :number %><br>
    <%= i.label :tall, "身長" %>
    <%= i.text_field :tall %><br>
    <%= i.label :weight, "体重" %>
    <%= i.text_field :weight %><br>
    <%= i.label :position, "ポジション" %>
    <%= i.text_field :position %><br>
  <% end %>
  <%= f.submit "Upload" %>
<% end %>
